@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F4F4F8;
}

.btnn:hover {
  box-shadow: 10px 8px #030723;
}

.bayangan {
  box-shadow: 25px 20px #030723;
}

.bayangan_field {
  box-shadow: 4px 3px #030723;
}
